<!doctype html>

<html lang="en">
  <head>
    <title>dq / travel blog</title>
    <meta name="description" content="David LoBosco's blog">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
  </head>
  <body>
    {% include navbar.html %}
    <section id="content-feed">      
      {% for p in site.posts %}
      {% include post-preview.html post=p
      %}
      {% endfor %}
    </section>
    {% include footer.html %}
    <!-- <script src="js/scripts.js"></script> -->
  </body>
</html>
